@*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    This view should use a model of List<Item>. (You'll need to use the full WishList.Models.Item not just Item)
    This view should have an h1 tag containing Wishlist.
    After the h1 tag, add an a tag with an attribute asp-action with a value of "create" with the text Add item.
    Create a ul tag, and that ul tag should contain a razor foreach loop that will iterate through
    each item of type Item in Model.
    Each iteration should contain an li tag that provides the Item's Description property followed by an a tag.
     The a tag should have the attributes asp-action set to "delete" and asp-route-id set to the
     Item's Id property with the text of the a tag being delete.
*@


@model List<WishList.Models.Item>

<h1>Wishlist</h1>

<a asp-action="create">Add item</a>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Description <a asp-action="delete" asp-route-id="@item.Id">delete</a></li>
    }



</ul>