<h1>Welcome</h1>

@*In Home's Index view, add an a tag with attributes asp-action set to "Index" and asp-controller
 set to "Item" with the text View wishlist.*@

<a asp-action="Index" asp-controller="Item">View wishlist</a>